---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="page fs-h4 l-center">
    <p>I'm a software developer (among other things), currently working for the <a href="https://canada.ca" target="_blank" rel="noreferrer">GoC</a> <i data-lucide="external-link"></i> and the founder of <a href="https://monad.media" target="_blank">Monad Media</a> <i data-lucide="external-link"></i>.</p>
    <p>I like to dabble in everything from cloud infrastructure to DevOps to front-end development, and I looooove shipping clean, fast, secure, well-tested code.</p>
    <div class='a-center a-row g-responsive'>
      <a href="/about" class='fancy-button'>About me</a>
      <a href="/resume" class='fancy-button'>My resumé</a>
    </div>
	</div>
</Layout>