---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="page fs-h4 l-center">
    <p>I'm a software developer (among other things), currently working for the <a href="https://canada.ca">GoC</a> and the founder of <a href="https://monad.media">Monad Media</a>.</p>
    <p>I like to dabble in everything from cloud infrastructure to DevOps to front-end development, and I looooove shipping clean, fast, secure, well-tested code.</p>
    <div class='a-center a-row g-responsive'>
      <a href="/about" class='btn'>About me</a>
      <a href="/resume" class='btn'>My resume</a>
    </div>
	</div>
</Layout>
